Repository launchbadge/sqlx, pull requests merged in 2020-11, with the labels that each got.

#611 Allow configuring the log level of query logging
  sqlx-core/src/any/options.rs
  sqlx-core/src/connection.rs
  sqlx-core/src/logger.rs
  sqlx-core/src/mssql/connection/establish.rs
  sqlx-core/src/mssql/connection/executor.rs
  sqlx-core/src/mssql/connection/mod.rs
  sqlx-core/src/mssql/options/connect.rs
  sqlx-core/src/mssql/options/mod.rs
  sqlx-core/src/mysql/connection/establish.rs
  sqlx-core/src/mysql/connection/executor.rs
  sqlx-core/src/mysql/connection/mod.rs
  sqlx-core/src/mysql/options/connect.rs
  sqlx-core/src/mysql/options/mod.rs
  sqlx-core/src/postgres/connection/establish.rs
  sqlx-core/src/postgres/connection/executor.rs
  sqlx-core/src/postgres/connection/mod.rs
  sqlx-core/src/postgres/options/connect.rs
  sqlx-core/src/postgres/options/mod.rs
  sqlx-core/src/sqlite/connection/establish.rs
  sqlx-core/src/sqlite/connection/executor.rs
  sqlx-core/src/sqlite/connection/mod.rs
  sqlx-core/src/sqlite/options/connect.rs
  sqlx-core/src/sqlite/options/mod.rs
Labels: enhancement, waiting for review

#650 Support non-ASCII chars in MySQL and MSSQL credentials
  sqlx-core/src/mssql/options/parse.rs
  sqlx-core/src/mysql/options/parse.rs
Labels: bug, mssql, mysql, needs rebase, waiting for review

#652 JSON+macros example using overrides
  Cargo.lock
  Cargo.toml
  examples/postgres/json/Cargo.toml
  examples/postgres/json/README.md
  examples/postgres/json/migrations/20200824190010_json.sql
  examples/postgres/json/src/main.rs
Labels: example, postgres, waiting for review

#817 Allow clippy::suspicious_else_formatting when expanding query arguments.
  sqlx-macros/src/query/mod.rs
Labels: waiting for author
