Repository launchbadge/sqlx, pull requests merged in 2020-10, with the labels that each got.

#762 Fix migrate! macro with no params
  src/macros.rs
Labels: bug, macros

#759 fix(cli): wait for newlines for confirmations
  Cargo.lock
  sqlx-cli/Cargo.toml
  sqlx-cli/src/database.rs
Labels: cli, waiting for review

#718 Add #[derive(FromRow)] for tuple struct
  sqlx-macros/src/derives/row.rs
  tests/postgres/derives.rs
Labels: enhancement, waiting for review

#679 Add ranges and range arrays types
  sqlx-macros/src/database/postgres.rs
Labels: enhancement, postgres
